body {
  font-family: Arial, sans-serif;

  margin: auto;
  padding: 20px 0 0 0;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* height: 100vh; */
  height: auto;
  background-color: #1c1f2b;
}
h2 {
  text-align: center;
  font-size: 1.8rem;
}
a {
  text-decoration: none;
  color: #ffffffb9;
}
.starfield {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  background: rgb(254, 254, 254);
  /* box-shadow: 0 0 1px rgb(255, 255, 255); */
  border-radius: 50%;
  animation: hyperspace linear infinite;
}
#bg-animation-stars {
  z-index: -1;
}
@keyframes hyperspace {
  from {
    transform: translate(0, 0) scale(0.7);
    opacity: 1;
  }
  to {
    transform: translate(var(--x), var(--y)) scale(var(--scale));
    opacity: 1;
  }
}
.starfield:nth-child(1) {
  --x: -30vw;
  --y: 40vh;
  --scale: 0.8;
  animation-duration: 8s;
}
.starfield:nth-child(2) {
  --x: 20vw;
  --y: -50vh;
  --scale: 1.2;
  animation-duration: 8s;
}
.starfield:nth-child(3) {
  --x: -50vw;
  --y: 20vh;
  --scale: 1.5;
  animation-duration: 8s;
}
.starfield:nth-child(4) {
  --x: 40vw;
  --y: -30vh;
  --scale: 1.3;
  animation-duration: 8s;
}
.starfield:nth-child(5) {
  --x: -20vw;
  --y: 50vh;
  --scale: 1.1;
  animation-duration: 8s;
}
.starfield:nth-child(6) {
  --x: 70vw;
  --y: -60vh;
  --scale: 1.2;
  animation-duration: 8s;
}
.starfield:nth-child(7) {
  --x: -60vw;
  --y: -50vh;
  --scale: 1.3;
  animation-duration: 8s;
}
.starfield:nth-child(8) {
  --x: 50vw;
  --y: 40vh;
  --scale: 1.4;
  animation-duration: 8s;
}
.starfield:nth-child(9) {
  --x: -30vw;
  --y: -30vh;
  --scale: 1.1;
  animation-duration: 8s;
}
.starfield:nth-child(10) {
  --x: 20vw;
  --y: 70vh;
  --scale: 1.5;
  animation-duration: 8s;
}
.starfield:nth-child(11) {
  --x: 60vw;
  --y: -80vh;
  --scale: 1.7;
  animation-duration: 8s;
}
.starfield:nth-child(12) {
  --x: -70vw;
  --y: 90vh;
  --scale: 1.2;
  animation-duration: 8s;
}
.starfield:nth-child(13) {
  --x: 30vw;
  --y: 100vh;
  --scale: 1.4;
  animation-duration: 8s;
}
.starfield:nth-child(14) {
  --x: -90vw;
  --y: -40vh;
  --scale: 0.9;
  animation-duration: 8s;
}
.starfield:nth-child(15) {
  --x: 80vw;
  --y: -100vh;
  --scale: 1;
  animation-duration: 8s;
}
.starfield:nth-child(16) {
  --x: -40vw;
  --y: 70vh;
  --scale: 1.3;
  animation-duration: 8s;
}
.starfield:nth-child(17) {
  --x: 90vw;
  --y: -30vh;
  --scale: 0.8;
  animation-duration: 8s;
}
.starfield:nth-child(18) {
  --x: -20vw;
  --y: -80vh;
  --scale: 1.1;
  animation-duration: 8s;
}
.starfield:nth-child(19) {
  --x: 100vw;
  --y: 60vh;
  --scale: 1.4;
  animation-duration: 8s;
}
.starfield:nth-child(20) {
  --x: -10vw;
  --y: -20vh;
  --scale: 1.5;
  animation-duration: 8s;
}

.tabs-container {
  display: flex;

  justify-content: space-between;

  width: 90%;
  max-width: 1100px;
  gap: 15px; /* Space between tabs */
  box-sizing: border-box;
}
/* ---------------------------------tab style */
.tab {
  flex: 1;
  padding: 15px;
  background-color: #ddd;
  color: rgb(224, 195, 171);
  border: none;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    to bottom,
    rgb(15, 14, 16) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  cursor: pointer;
  text-align: justify;
  align-items: flex-end;
  transition: all 0.3s ease;
  transform: translateY(1px);
  z-index: 2;
  flex-shrink: 0;
}

.tab:hover {
  transform: scaleY(1.05);
  z-index: 2;
}

.tab.active {
  background: #1c1f2b;
  color: white;
  /* border: none; */
  box-shadow: inset;
  z-index: 2;

  transform: translateY(3px);
  border: 1px solid #999;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  flex-shrink: 0;
}
/* .tab-small-tab {

} */

/* -------------------------------- main container */
.tab-content {
  display: none;
  overflow: visible;
  background-color: #1c1f2b;
  padding: 20px;
  border: none;
  border-radius: 0 0 8px 8px;
  width: 90%;
  max-width: 1100px;
  box-sizing: border-box;
  height: auto;
  position: relative;
  
}
.tab-content.active-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: auto;
  min-height: 670px;
  
}
.tab-content::after,
.tab-content::before {
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    #7b3f00,
    #9c4393,
    #86b400,
    #7b3f00
  );
  height: 100%;
  width: 100%;
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 5px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  pointer-events: none;
}
.tab-content::before {
  filter: blur(1rem);
  pointer-events: none;
  /* opacity: 0.5; */
}

/* --------------------------------------------- projects style */

.text-normal {
  width: 80%;
  color: #ffffffb9;
  font-size: 1.5rem;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}
.text-info {
  width: 80%;
  color: #ffffffb9;
  font-size: 1.5rem;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

/* title */
.rng {
  display: flex;
  justify-content: center;
  color: #f3f1f0b7;
}
/* button to project external link */

.rng-btn {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.box-shadow-test {
  top: 100px;
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background: #1c1f2b;
  color: white;
  text-align: center;
  border-radius: 10px;
  position: relative;
  border: none;
  cursor: pointer;
}
.box-shadow-test:hover .footer-name {
  color: rgb(199, 105, 29);
  transition: color 0.3s ease-in-out;
}

.box-shadow-test::after,
.box-shadow-test::before {
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    #7b3f00,
    #9c4393,
    #86b400,
    #7b3f00
  );
  height: 100%;
  width: 100%;
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 5px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.box-shadow-test::before {
  filter: blur(1.5rem);
  /* opacity: 0.5; */
}


@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.proj-container {
  z-index: 2;
  
  background-color: #98298f00;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  height: auto;
}

.proj-inside {
  display: flex;
  justify-content: center;
  
  color: #ffffffb9;
  font-size: 1.5rem;
  width: auto;
  
}
.active-project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 600px;
  height: auto;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 0 21px;
}

.inactive-project {
  display: none;
}
.rotated-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: #1c1f2b;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 1px solid #d4ccd5;
  /* border-left: none; */
  margin-bottom: 25px;
  cursor: pointer;
  /* box-sizing: content-box; */
}
.rotated-box:hover {
  background: linear-gradient(
    to bottom,
    rgb(68, 19, 117) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  border: 1px solid black;
  border-radius: 0 4px 4px 0;
  color: rgba(255, 255, 255, 0.669);
  
}
.proj-nupud-vasak {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
  margin-top: 50px;
  
}
.proj-nupud-parem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  margin-top: 50px;
}
.rotated-box2:hover {
  background: linear-gradient(
    to bottom,
    rgb(68, 19, 117) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.669);
}
.rotated-box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  background-color: #1c1f2b;
  
  writing-mode: vertical-lr;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 1px solid #d4ccd5;
  margin-bottom: 25px;
  cursor: pointer;
}
.rotated-box.active, .rotated-box2.active {
  
  background: linear-gradient(
    to bottom,
    rgb(68, 19, 117) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.669);
}
/* -------------------------------------- contact page */
#contact {
  margin: auto;
}
.pkr {
  display: flex;
  justify-content: flex-start;
  color: #ffffffb9;
  margin-top: 60px;
  margin-left: 5px;
}
.emph-text {
  color: rgb(255, 255, 255);
}
.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.contact-page-cv {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 40px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgb(68, 19, 117) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.669);
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
}

/* .contact-page-cv:hover {
  color: #7b3f00;
  transition: 0.3s ease-in-out;
} */
.contact-page-cv a:hover {
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
#copyButton {
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgb(68, 19, 117) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.669);
  border-radius: 4px;
  width: 200px;
  height: fit-content;
  cursor: pointer;
  font-size: 1.5rem;
}
#copyButton:hover {
  background: linear-gradient(
    to bottom,
    rgb(68, 19, 117) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  border: 1px solid black;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
#copyButtonPhone {
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgb(68, 19, 117) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  border: 1px solid black;
  color: rgba(255, 255, 255, 0.669);
  border-radius: 4px;
  width: 200px;
  height: fit-content;
  cursor: pointer;
  font-size: 1.5rem;
}
#copyButtonPhone:hover {
  background: linear-gradient(
    to bottom,
    rgb(68, 19, 117) 20%,
    rgba(15, 14, 16, 0.426) 100%
  );
  border: 1px solid black;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}
.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  
}
.contact-page-email {
  box-sizing: border-box;
  display: flex;
  width: fit-content;
  max-width: fit-content;
  margin: 0;
  padding: 20px;
}
.phone{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.phone-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------------------------------------- info */
.welcome {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  color: #ffffffb9;
}
.gitHub{
  display: flex;
  justify-content: end;
}
.showMore{
  display: none;
  justify-content: center;
  color: #ffffffb9;
}
.text-read-more {
  width: 200px;
  color: #ffffffb9;
  font-size: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hide{
  display: none;
}

/* -------------------------------------- media */
@media (max-width: 696px) {
  body{
    margin-left: 10px;
    margin-right: 10px;
  }
  .tabs-container {
    gap: 5;
    display: flex;
    flex-shrink: 1;
    width: 100%;
  }
  .tab-content {
    border: none;
    border-radius: 0 0 8px 8px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    min-height: 651px;
    position: relative;
  }
  .info-container{
    min-height: 651px;
  }
  .tab-content.active-content {
    min-height: 651px;
  }
  .proj-container {
    z-index: 2;
    background-color: #98298f00;
    
    display: flex;
    flex-direction: row;
    
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    height: auto;
    min-height: 592px;
  }
  .proj-nupud-vasak {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: self-end;
    padding-top: 30px;
    margin-left: 7px;
  }
  .proj-nupud-parem {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    margin-top: 50px;
    margin-right: 7px;
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    text-align: center;
    font-size: 1.8rem;
  }
  .active-project {
    display: flex;
    flex-shrink: 1;
    max-width: 80%; /* play with this in case apocalypse, this is tuned for w-390 */ 
    padding: 10px 0 0 0;
  }
  .proj-inside {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .text-normal {
    width: 9 0%;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .text-info {
    width: 95%;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .rotated-box, .rotated-box2 {
    font-size: 1.2rem;
    padding: 5px;
  }
  .phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .email {
    margin-bottom: 20px;
  }
  .gitHub{
    margin: 0 30px 20px;
  }
  .fa-github:hover{
    background: red;
  }
  .showMore{
    display: flex;
    justify-content: center;
    color: #ffffffb9;
  }
  .text-read-more {
    width: 200px;
    color: #ffffffb9;
    font-size: 1.3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .text2{
    display: none;
  }
}